@(username: String)(allShoppingLists: List[ShoppingList])

@main(username) {
  <div class="row">
    <div class="page-header">
      <h1>Einkaufslisten</h1>
    </div><!--page-header-->
  </div><!--row-->
    <div class="row">
    	<table class="table table-striped">
	    	<thead>
	    		<tr>
	    			<th></th>
	    			<th></th>
	    			<th></th>
	    			<th></th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    	@if(!allShoppingLists.isEmpty()) {
	    		@for(list <- allShoppingLists) {
		    		<tr>
              <td>
                <a class="lead" href="@routes.Application.viewShoppingList(list.getId())">
                  @list.getDate().format("dd.MM.yyyy")
                </p>
              </td>
		  				<td>
		  						<a href="@routes.Application.editShoppingList(list.getId())" type="button" class="btn btn-primary btn" title="bearbeiten">
                    <span class="fa fa-pencil fa-2x"></span>
		  				</td>
		  				<td>
		  						<a href ="@routes.Application.deleteShoppingList(list.getId())" type="button" class="btn btn-danger btn" onclick="return confirm('Sind Sie sicher?');"
                  title="löschen">
								  <span class="fa fa-trash fa-2x"></span>
		  				</td>
		  				<td>
		  						@if(list.isOwnSorting()) {<a href ="@routes.Application.editSorting(list.getId())" type="button" class="btn btn-primary btn" >
								  <span> Editiere Sortierung</span>
								  }
		  				</td>
		  			</tr>
          }
          } else {
          Keine aktuellen Einkaufslisten vorhanden
          }
        </tbody>
    	</table>
    </div><!--row-->
    <div class="row">
      <div class="col-md-2">
        <a href="@routes.Application.createShoppingList()" type="button" class="btn btn-default" title="neue Einkaufsliste">
  				<span class="fa fa-shopping-cart fa-3x">
            Neu
          </span>
  			</a>
      </div><!--col-md-2-->
      <div class="col-md-10"></div>
    </div><!--row-->
}
