@import org.joda.time.DateTime
@(content: Html)
<!DOCTYPE html>

<html>
    <head>
      <title>Einkaufsliste</title>
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
  		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/innoq-bootstrap-theme.css")">
  		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/innoq-reveal-print.css")">
  		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/innoq-reveal-theme.css")">
  		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/innoq-styles.css")">
  		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui.min.css")">
  		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui.structure.min.css")">
  		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui.theme.min.css")">
  		<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
  		<script src="@routes.Assets.at("javascripts/jquery-ui.min.js")"></script>
  		<script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>

	<script type="text/javascript">
	$(document).ready(function() {
		$( "#date" ).datepicker({ dateFormat: 'dd.mm.yy' });
	});
	</script>

    </head>
    <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand" href="/">
                <img class="brand" alt="Brand" src="@routes.Assets.at("images/innoQ-logo-white.png")" height="40">
              </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/">Einkaufslisten <span class="sr-only">(current)</span></a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
      </nav>
      <div class="starter-template body-start">
    		<div class="container">
      		<div class="row">
		       <div class="col-md-12">
             <div class="jumbotron">
               <!--<h1 class="headline">Home</h1>-->
               <div>
               <p id="answer"></p>
                @alerts()
                 @content
               </div>
             </div>
           </div>
  			  </div>
    		</div>
    	</div>
      <!--<div class="panel-footer">Panel footer</div>-->
      <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
          <a class="navbar-brand" href="https://intern.innoq.com/dashboard">
            <img class="brand" alt="Brand" src="@routes.Assets.at("images/innoQ-logo-black.png")" height="40">
          </a>
        </div>
      </nav>
    </body>
</html>
