@(username: String)(shopOrder : ShopOrder)

@getOption(index : Int) = {
@if(index == 0) {
  <li class="ui-state-default" id="0"> Fleisch und Fisch</li>
  } @if(index == 1) {
  <li class="ui-state-default" id="1">Gem&uuml;se und Obst</li>
  } @if(index == 2) {
  <li class="ui-state-default" id="2">Kochen und Backen</li>
  } @if(index == 3) { 
  <li class="ui-state-default" id="3">Milchprodukte</li>
  } @if(index == 4) {
  <li class="ui-state-default" id="4">Tiefk&uuml;hlprodukte</li>
  } @if(index == 5) {
  <li class="ui-state-default" id="5">Getr&auml;nke</li>
  } @if(index == 6) {
  <li class="ui-state-default" id="6">S&uuml;&szlig;igkeiten</li>
  } @if(index == 7) {
  <li class="ui-state-default" id="7">K&ouml;rperpflege</li>
  } @if(index == 8) {
  <li class="ui-state-default" id="8">Haushalt</li>
  } @if(index == 9) {
  <li class="ui-state-default" id="9">Sonstiges</li>
  }
}

@main(username) {
  <div class="row">
    <div class="page-header">
      <h1>ShopOrder @shopOrder.getName()</h1>
    </div><!--page-header-->
  </div><!--row-->
    	<div class="form-group" id="divName">
		<label for="name">Name</label>
		<input type="text" class="form-control" id="name" value="@shopOrder.getName()" readonly>
</div>

<ul>
  @for(index <- shopOrder.getCategories()) {
  @getOption(index)
  }
</ul>

  <input type="hidden" class="form-control" id="order" name="order">
  <br>
  
  <div class="row">
    <div class="col-md-2">
    <a href="@routes.ShopOrderController.viewShopOrders()" type="button" class="btn btn-default">Zur&uuml;ck</a> 
    </div><!--col-md-2-->
    </div><!--row-->
}
