@(username: String)(shoppingList : ShoppingList)

@main(username) {
  <div class="row">
    <div class="page-header">
      <h1>Einkaufsliste <small>@shoppingList.getDate().format("dd.MM.yyyy")</small></h1>
    </div><!--page-header-->
  </div><!--row-->
  
  <div class="form-group" id="divName">
		<label for="name">ShopOrder</label>
		<input type="text" class="form-control" id="name" value="@shoppingList.getShopOrderName()" readonly>
</div>
  
    	<table class="table table-striped">
	    	<thead>
	    		<tr>
	    			<th>Artikel</th>
	    			<th>Kategorie</th>
	    			<th>Abgehakt</th>
	    		</tr>
	    	</thead>
	    	<tbody class="tablebody">
	    	@for((article,index) <- shoppingList.getArticles().zipWithIndex) {
	    	<tr class="articlerow">
              <td>
                 <p>@article.getName()</p>
              </td>
		  	  <td>
	  			<p>@article.getCategory()</p>
            </td>
            <td>
	  			@if(article.isChecked()) {<span class="fa fa-check fa-2x"></span>}
            </td>
		 </tr>
		 }
        </tbody>
    	</table>
    </div><!--row-->
    <div class="row">
      <div class="col-md-2">
    <a href="@routes.Application.index()" type="button" class="btn btn-default">Zur&uuml;ck</a> 
    </div><!--col-md-2-->
      <div class="col-md-10"></div>
    </div><!--row-->
}
